
#main_container {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; 
}
#main_container:before,#main_container:after{
    content: '';
    display: table-cell;
    width: 50%;
}
#content_holder {
    display: table-cell;
    vertical-align: middle;
}

#content_box {
    display: table;
    width: 700px;
    height: 510px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid;
}

#head_container {
    width: 700px;
    height: 70px;
    border: 1px solid black;
}

#leftSide_rates {
    width: 80px;
    height: 420px;
    float: left;
    margin-top: 20px;
    border: 1px solid;
}

#centered_formcontainer {
    width: 200px;
    height: 420px;
    border: 1px solid;
    margin-left: 20px;
    float: left;
    margin-top: 20px;
}
